* {
  font-family: 'Roboto', sans-serif;
}

.content {
    width: 70%;
    margin: 30px auto;
    text-align:center;
    padding: 20px;
}

.btn {
  display: inline-block;
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 25px;
  text-decoration: none;
  border-radius: 5px;
  width: 130px;
  transition-duration: 0.3s;
}


.btn:hover {
  background-color: rgb(26, 129, 231);
}

.fach {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}


.accordion {
  font-size: large;
  margin-top: 10px;
  background-color: #eee;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: center;
  border: none;
  outline: none;
  transition: 0.4s;
  border-radius: 5px;
}


.active, .accordion:hover {
  background-color: #ccc;
}

.panel {
  padding: 0 18px;
  background-color: #eee;
  display: none;
  overflow: hidden;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
} 